{% for flash_message in app.session.flashBag.get('success') %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            <strong>Bravo!</strong> {{ flash_message }}
        </div>
    </div>
</div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <strong>Désolé!</strong> {{ flash_message }}
        </div>
    </div>
</div>
{% endfor %}