{% extends 'base.html.twig' %}

{% block hero %}
Créer une nouvelle tâche
{% endblock %}
{% block body %}
    {% if not app.user %}
        Veuillez vous connecter pour pouvoir créer une tâche
    {% else %}
        {{ form_start(taskForm) }}
            {{ form_row(taskForm.title) }}
            {{ form_row(taskForm.content) }}
            <div>
                <button type="submit" class="btn btn-todo" style="width:200px !important">Créer la nouvelle tâche</button>
            </div>
        {{ form_end(taskForm) }}
    {% endif %}
{% endblock %}