{% include "_partials/_header.html.twig" %}
<div class="hero">
    {% block hero %} {% endblock %}
</div>
<!-- Page Content -->

<div class="row">
    <div class="col-md-12 main-part">
        {% block body %}{% endblock %}
    </div>
</div>


{% include "_partials/_footer.html.twig" %}